<div class="row justify-content-end">
    <div class="col" style="text-align: end;">
        <span style="margin-right: 60px;"> <span style="margin-right: 74px;">APROVO</span> <br> PUBLIQUE-SE</span>
        <br><br> __________________________________ <small class="form-text text-muted"
            style="margin-right: 15px;">DIRETOR DE APOIO LOGÍSTICO</small>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <p>
            <strong>3ª PARTE - Assuntos Gerais e Administrativos:</strong>
        </p>
        <p>
            <strong style="text-decoration: underline;"> AUTORIZAÇÃO PARA MUDANÇA DE STATUS DA ARMA DE FOGO NO SIGMA:
            </strong>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p style="text-align: center;"> Conforme quadro abaixo, o seguinte policial militar solicita a mudança no status
            da arma de fogo de propriedade particular no SIGMA, por haver sido extraviada: </p>
            <br>
            <br>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col" style="text-align: center;align-content: center;">
        <input type="text" placeholder="NOME COMPLETO - POST/GRAD RG" size="80" style="text-align: center;">
        <table border="1" id="mudança-status">
            <tr>
                <th>BOP</th>
                <td><textarea cols="10" rows="2"></textarea></td>
                <th>BAR</th>
                <td><textarea cols="10" rows="2"></textarea></td>
                <th>ESPÉCIE</th>
                <td><input type="text" size="5" onblur="this.size = this.value.length"></td>
                <th>FUNC.</th>
                <td colspan="2"><input type="text" size="5" onblur="this.size = this.value.length"></td>
                <th>ACAB.</th>
                <td><input type="text" size="5"></td>
                <th>MARCA</th>
                <td colspan="2"><input type="text" size="5"></td>
            </tr>
            <tr>
                <th>CAL.</th>
                <td><input type="text" size="5"></td>
                <th>MOD.</th>
                <td><input type="text" size="5"></td>
                <th>CAP.</th>
                <td><input type="text" size="5"></td>
                <th>CANO</th>
                <td><input type="text" size="5"></td>
                <th>PAÍS</th>
                <td><input type="text" size="5" onblur="this.size = this.value.length"></td>
                <th>SIGMA</th>
                <td><input type="text" size="5"></td>
                <th>Nº SÉRIE</th>
                <td><input type="text" size="5" onblur="this.size = this.value.length"></td>
            </tr>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 310px;">
    <div class="col">
        <p style="text-align: right;font-size: 1.2em;">
            Belém-PA,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            de 20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. </p>
    </div>
</div>
<div class="row justify-content-center" style="margin-top: 170px;">
    <div class="col-2">
        <img src="./assets/carimbo.png" alt="carimbo da pmpa" height="auto" style="max-width: 100%;">
    </div>
    <div class="col-auto align-items-center" style="text-align: center;font-size: 1.2em;">
        <p>PAULO UBIRATAN LOPES <strong>CASSEB</strong> - MAJ QOPM 33450 <br>
            <span style="text-align: center;">Respondendo pela Seção de Intendência e Subsistência</span></p>
    </div>
</div>
