* {
    font-family: 'Times New Roman';
    font-size: 20px !important;
}

#header * {
    font-size: 20px !important;
}

header table, header table td {
    border-width: 5px;
}

input {
    font-weight: bold;
    text-align: center;
}

form {
    text-align: justify;
}

form * {
    padding: 0;
    margin: 0;
}

form label {
    font-weight: bold;
    font-style: italic !important;
}

form input, form select, form p {
    text-align: justify;
    font-weight: normal;
    font-style: italic !important;
}

input[id='dia-pub'], input[id='mes-pub'] {
    font-size: 20px !important;
}

main {
    font-size: 16pt;
}

P {
    text-align: justify;
}

table, table th, table tr, table td, table input {
    text-align: center;
    font-size: 12px !important;
    border-width: 1px;
    border-color: #000 !important;
    padding: 0px;
    margin: 0px;
}

.table * {
    font-size: 15px !important;
}

.list-group[id^="lista-fornecedores"] {
    width: 610px;
    margin-left: 315px;
    position: absolute;
}

.list-group[id^="lista-modelos"] {
    width: 210px;
    margin-left: 98px;
    position: absolute;
}

.list-group[id^="lista-acabamento"] {
    width: 212px;
    margin-left: 145px;
    position: absolute;
}

.list-group-item {
    background-color: #FFF;
    padding: 5px !important;
}

.list-group-item:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.status, .status * {
    padding: 0;
}

form[id^='lista-'] button {
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
}

#tb-manutencao * {
    padding: 0;
    margin: 0;
}

#tb-manutencao input {
    margin-top: 35px;
}

#btnLimpar {
    top: 90px;
    position: fixed;
    right: 5px;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif;
}

#btnSalvar {
    top: 10px;
    position: fixed;
    right: 5px;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif;
}

#btnAEL {
    top: 50px;
    position: fixed;
    right: 5px;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    font-size: 11px !important;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

#cabecalho input {
    font-size: 11px !important;
}

@media print {
    body.container {
        width: 21cm;
        height: 29.7cm;
        margin-top: 20px;
    }
    
    @page {
        size: 'A4';
        width: 21cm;
        height: 29.7cm;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    input, select {
        border-color: transparent;
    }
    .no-print {
        display: none;
    }
    .page-break {
        page-break-before: always;
    }
}