p {
    font-size: 1.2em;
}

hr {
    border-color: #000;
    width: 100%;
}

input {
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    text-transform: uppercase;
}

input:disabled {
    background-color: transparent;
    border-width: 0;
}

select.custom-select {
    text-align-last: center;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    height: 30px;
    padding: 0;
    color: black;
    border-width: 1px;
    border-color: black;
}

textarea {
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    text-transform: uppercase;
}

table input,
table textarea {
    font-weight: bold;
    text-transform: uppercase;
}

#certidao input {
    text-align: left;
}

.table {
    height: 132px;
    width: 720px;
    font-weight: bold;
}

.table thead th {
    border-width: 1px;
    border-color: #000;
}

.table thead {
    border-bottom-color: #000;
}

.table th {
    border-color: #000;
}

.table td {
    border-color: #000;
}

.table thead th input,
.table tbody td:last-child input {
    border-color: transparent;
}

#mudança-status textarea {
    padding: 0;
    margin: 0;
}
@media print {
    .no-print {
        display: none;
    }
    .page-break {
        page-break-before: always;
    }
    input {
        border-width: 0;
    }
    textarea {
        border-width: 0px;
    }
    select.custom-select {
        border-color: transparent;
    }
}

table.table {
    text-align: center;
}

#tipo-transf {
    text-transform: uppercase;
}