* {
    font-family: 'Times New Roman';
}

body {
    text-align: center;
}

td, table {
    border-width: 5px;
}

input {
    font-weight: bold;
    text-align: center;
}

#lista-industria,
#lista-comercio {
    text-align: justify;
}

#lista-industria *,
#lista-comercio * {
    padding: 0;
    margin: 0;
}

#lista-comercio label,
#lista-industria label {
    font-weight: bold;
    font-style: italic !important;
}

#lista-comercio input,
#lista-comercio select,
#lista-comercio p,
#lista-industria input,
#lista-industria select,
#lista-industria p {
    text-align: justify;
    font-weight: normal;
    font-style: italic !important;
}

main {
    font-size: 16px;
}

P {
    text-align: justify;
}

@media print {
    body.container {
        width: 18.5cm;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    input, select {
        border-color: transparent;
    }
    .no-print {
        display: none;
    }
    .page-break {
        page-break-before: always;
    }
}