<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style-bar.css?{TIME}">
    <script src="./assets/js/model/conexao.js?{TIME}"></script>
    <script src="./assets/js/model/fornecedorDAO.js?{TIME}"></script>
    <script src="./assets/js/model/modeloDAO.js?{TIME}"></script>
    <script src="./assets/js/model/acabamentoDAO.js?{TIME}"></script>
    <script>popularModelos()</script>
    <script>popularFornecedores()</script>
    <script>popularAcabamentos()</script>
    <title>BAR</title>
</head>

<body class="container">
    <button onclick="mudarChefes()" id="btnChefes" class="btn btn-secondary no-print">Mudar nomes dos Chefes</button>
    <button type="button" class="btn btn-danger no-print" data-toggle="modal" data-target="#exampleModal" id="btnLimpar">Limpar BAR</button>
    <div id="corpo">
        <!--DADOS DE QUANTIDADE DE ARMAS INCIO-->
        <div id="dados-iniciais"> {QUANTIDADE_ARMAS} </div>
        <!--DADOS DE QUANTIDADE DE ARMAS FIM-->
        <div id="chefes-dados">

        </div>
        <div class="row">
            <div class="col">
                <p id="cabecalho">BOLETIM ADMINISTRATIVO - ARMAMENTO Nº <input type="text" size="1cm" id="num-bar"
                        onblur="numBar()"> - <input type="text" size="3cm" id="inicio"> À <input type="text" size="1cm"
                        id="fim"> DE <input type="text" size="7.5cm" id="mes"> DE
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <header style="font-size: 15px;font-weight: bold;max-width: 100%;" class="row">
            <div class="col">
                <table class="table" border="3" style="text-align: center;" id="header">
                    <tr>
                        <td>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Bras%C3%A3o_do_Par%C3%A1.svg/1200px-Bras%C3%A3o_do_Par%C3%A1.svg.png"
                                alt="BRASÃO DO ESTADO DO PARÁ" height="auto" style="max-width: 100%;height: 110px;">
                        </td>
                        <td>
                            <strong> POLÍCIA MÍLITAR DO ESTADO DO PARÁ <br> COMANDO GERAL - DIRETORIA DE APOIO LOGÍSTICO
                                <br> BELÉM - PA, <input type="text" size="1cm" id="dia-pub">DE <input type="text"
                                    size="7cm" id='mes-pub' onblur="salvarDados()"> DE
                                <script>document.write(new Date().getFullYear())</script> <br> BOLETIM ADMINISTRATIVO -
                                ARMAMENTO N° <span id="num-bar-header"></span>/2020 </strong>
                        </td>
                        <td>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Bras%C3%A3o_PMPA.PNG"
                                alt="BRASÃO DA POLÍCIA MÍLITAR" height="110px" style="max-width: 100%;">
                        </td>
                    </tr>
                </table>
            </div>
        </header>
        <main id="principal">
            <section style="font-weight: bold;">
                <p style="text-align: center;"> Para Conhecimento da PMPA e devida execução, pubico o seguinte: <br> 1ª
                    PARTE - Serviços Diários <br><br> Sem alteração <br><br> 2ª PARTE - Instrução <br><br> Sem alteração
                    <br><br> 3ª PARTE - Assuntos Gerais e Administrativos: </p>
                <span style="text-decoration: underline;text-align: justify;">I. REGISTRO DE ARMAS DE FOGO DA POLÍCIA
                    MILITAR DO ESTADO DO PARÁ - Autorização - Transcrição:</span>
            </section>
            <section>
                <p style="text-align: justify;"> De acordo com a Lei Nr 10.826, de 22 DEZ 2003, que dispõe sobre
                    registro, posse e comercialização de armas de fogo e munição, sobre o Sistema Nacional de Armas -
                    SINARM, define crimes e dá outras providências; o Decreto Nr 5.123, de 1º JUL 2004, que regulamenta
                    a Lei Nº 10.826, de 22 DEZ 2003; a Portaria Nº 069/2019 aditada ao BG Nº 078 de 24 ABR 2019 –
                    GABCMDO GERAL PMPa; e a Portaria Nº 136 – COLOG - EB, de 08 de NOV 2019, que estabelece normas para
                    a aquisição, o registro, o cadastro e a transferência de propriedade de armas de fogo por policial rodoviário federal, policial ferroviário, federal, policial civil, policial
                    militar e bombeiro militar dos estados e do Distrito Federal, e dá outras providências,<strong>
                        publico, para fins de cadastro no SIGMA</strong>, o que se segue: </p>
            </section>
            <hr style="border-style: dashed;border-width: 1px;">
            <section>
                <div id="industria">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-da-industria">
                        </strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Nos requerimentos em
                            que os Policiais Militares solicitam aquisição, cadastro e registro de arma de fogo, adquiridas através do fabricante, dou o seguinte despacho: <br> <br> <span
                                style="text-decoration: underline">Deferido para:</span>
                        </i></p>
                    <div id="lista-industria">
                    </div>
                </div>
                <div id="comercio">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-do-comercio">
                        </strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Nos requerimentos em
                            que os Policiais Militares solicitam aquisição, cadastro e registro de arma de fogo, adquiridas através do comércio, dou o seguinte despacho: <br> <br> <span
                                style="text-decoration: underline">Deferido para:</span>
                        </i></p>
                    <div id="lista-comercio">
                    </div>
                </div>
                <div id="transferencia">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-por-transferencia">
                        </strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Nos requerimentos em
                            que os Policiais Militares solicitam transferência de cadastro e registro de arma de fogo, dou o seguinte despacho: <br> <br> <span
                                style="text-decoration: underline">Deferido para:</span>
                        </i></p>
                    <div id="lista-transferencia">
                    </div>
                </div>
                <div id="paf">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-paf">
                        </strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Nos requerimentos em
                            que os policiais militares, da reserva remunerada, solicitam a expedição PAF (Porte de Arma
                            de Fogo) de arma, dou o seguinte despacho: <br> <br> <span
                                style="text-decoration: underline">Deferido para:</span>
                        </i></p>
                    <div id="lista-paf">
                    </div>
                </div>
                <div id="craf">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-craf">
                        </strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Nos requerimentos em
                            que os policiais militares, da ativa e/ou reserva remunerada, solicitam a segunda via de
                            CRAF (Certificado de Registro de Arma de Fogo) de arma,
                            dou o seguinte despacho; <br> <br> <span style="text-decoration: underline">Deferido
                                para:</span>
                        </i></p>
                    <div id="lista-craf">
                    </div>
                </div>
                <div id="status">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-status">
                        </strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>No requerimento em
                            que o policial militar solicita mudança de Status de arma de fogo, no
                            Sistema de Gerenciamento Militar de Arma (SIGMA), de propriedade particular, por ter sido
                            extraviada, conforme informações abaixo, dou o seguinte despacho: <br> <br>
                            <span style="text-decoration: underline">Deferido para:</span>
                        </i></p>
                    <div id="lista-status">
                    </div>
                </div>
                <div id="manutencao">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-manutencao">
                        </strong></p>
                    <div id="lista-manutencao">
                    </div>
                </div>
                <div id="retificacao">
                    <p style="font-style: italic;text-decoration: underline;"><strong id="armas-retificacao"></strong></p>
                    <div id="lista-retificacao">
                    </div>
                </div>
            </section>
            <button class="btn btn-warning no-print" id="btnSalvar" onclick="salvarStatus()">TERMINAR DEPOIS</button>
            <section style="text-align: center; page-break-before: always;">
                <br>
                <br>
                <br>
                <br>
                <p style="font-weight: bold;text-align: center;">4ª PARTE - JUSTIÇA E DISCIPLINA</p>
                <br>
                <br>
                <br>
                <br>
                <span style="font-weight: bold;">Sem Alteração</span>
                <br>
                <br>
                <p style="font-weight: normal;">Confere com o original:</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <span style="text-align: center;font-weight: normal;" id="diretor-da-dal"><strong> SIDNEY PROFETA</strong> DA SILVA - CEL
                    QOPM RG 21183</span>
                <p style="text-align: center;">Diretor de Apoio Logístico da PMPA</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <img src="./assets/carimbo.png" alt="carimbo da pmpa" height="auto" style="max-width: 70%;">
                    </div>
                    <div class="col-9 align-items-center"
                        style="font-family: Arial, Helvetica, sans-serif;font-size: 1.2em;">
                        <p style="font-family: Arial, Helvetica, sans-serif;"> <span id="chefe-da-secao" style="font-family: Arial, Helvetica, sans-serif;">PAULO UBIRANTAN LOPES <strong
                                style="font-family: Arial, Helvetica, sans-serif;">CASSEB</strong> - MAJ QOPM 33450</span> <br>
                            <span style="font-family: Arial, Helvetica, sans-serif">Chefe da Subseção de
                                Intendência e Subsistência</span></p>
                    </div>
                </div>
            </section>
        </main>
        <button onclick="montarAEL()" id="btnAEL" class="btn btn-success no-print">GERAR AEL E IMPRIMIR</button>
        <button onclick="alterarDadosGerais()" id="btnAlterar" class="btn btn-primary no-print">Alterar Quantidade de Processos</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
        src="https://cdn.rawgit.com/eligrey/FileSaver.js/5ed507ef8aa53d8ecfea96d96bc7214cd2476fd2/FileSaver.min.js"></script>
    <script src="./assets/js/controller/utils.js?{TIME}"></script>
    <script src="./assets/js/model/cidades.js?{TIME}"></script>
    <script src="./assets/js/template/forms.js?{TIME}"></script>
    <script src="./assets/js/controller/dadosTopBar.js?{TIME}"></script>
    <script src="./assets/js/controller/acabamento.js?{TIME}"></script>
    <script src="./assets/js/controller/fornecedor.js?{TIME}"></script>
    <script src="./assets/js/controller/modelo.js?{TIME}"></script>
    <script src="./assets/js/controller/ael.js?{TIME}"></script>
    <script src="./assets/js/controller/oficio.js?{TIME}"></script>
    <script>carregarStatus()</script>
    <script>carregarDados()</script>
    <script>carregarNomes()</script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <!--MODAL PARA LIMPAR AEL INÍCIO--> {MODAL}
    <!--MODAL PARA LIMPAR AEL FIM-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
