<hr style="border-color: black;width: 100%;">
<p style="text-align: center;">
    <strong> “Polícia Militar do Pará, Patrimônio do Povo Paraense”<br> Rodovia Augusto Montenegro, Km 09, nº8401,
                Parque Guajará, Distrito de Icoaraci, Belém-Pará/CEP 66.821-000<br> Site: <a
                        href="https://www.pm.pa.gov.br">www.pm.pa.gov.br</a>/ email: <a
                        href="mailto:dal4@pm.pa.gov.br">dal4@pm.pa.gov.br</a> – Digitador: <span
                        name="digitador"></span><br>
                <a style="font-size: .8em; color: black" href="https://github.com/Romulogss">Desenvolvido por: Rômulo Gabriel Sousa Sá</a>
        </strong>
</p>