* {
    font-family: 'Times New Roman';
    font-size: 20px !important;
}

header table,
header table td {
    border-width: 5px;
}

input {
    font-weight: bold;
    text-align: center;
}

form {
    text-align: justify;
}

form * {
    padding: 0;
    margin: 0;
}

form label {
    font-weight: bold;
    font-style: italic !important;
}

form input, form select, form p {
    text-align: justify;
    font-weight: normal;
    font-style: italic !important;
}
input[id^="pai"] {
    text-transform: capitalize;
}

input[id^="mae"] {
    text-transform: capitalize;
}

input[id='dia-pub'],
input[id='mes-pub'] {
    font-size: 20px !important;
}

main {
    font-size: 16px;
}

P {
    text-align: justify;
}

table, table th, table tr, table td, table input {
    text-align: center;
    font-size: 12px !important;
    border-width: 1px;
    border-color: #000 !important;
    padding: 3px;
}
.table * {
    font-size: 15px !important;
}

#btnLimpar {
    top: 90px;
    position: fixed;
    right: 5px;
    font-size: 15px  !important;
    font-family: Arial, Helvetica, sans-serif;
}

#btnSalvar {
    top: 10px;
    position: fixed;
    right: 5px;
    font-size: 15px  !important;
    font-family: Arial, Helvetica, sans-serif;
}

#btnAEL {
    top: 50px;
    position: fixed;
    right: 5px;
    font-size: 15px  !important;
    font-family: Arial, Helvetica, sans-serif;
}

@media print {
    body.container {
        width: 18.6cm;
    }
    @page {
        size: 'A4';
        width: 18.6cm;
        ;
    }
    input, select {
        border-color: transparent;
    }
    .no-print {
        display: none;
    }
    .page-break {
        page-break-before: always;
    }
}