<div class="row justify-content-center">
    <table class="table" border="1">
        <thead>
            <tr>
                <th scope="row" colspan="3">{PROCESSO}</th>
                <th scope="col" style="border-width: 1px 1px 0 0;"><input type="text" disabled placeholder="FOTO 3x4"
                        size="15"> {FOTO_CEDENTE} </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nº <input type="text" size="8px" {DISABLE}></td>
                <td>DATA DE ENTRADA</td>
                <td>OBJETO</td>
                <td style="border-width: 0 1px 0 0;"><input type="text" disabled placeholder="FOTO 3x4" size="15"></td>
                {FOTO_CEDENTE}
            </tr>
            <tr>
                <td><input type="text" placeholder="TIPO E CALIBRE" id="tipo-calibre"></td>
                <td>
                    <!-- BEGIN BLOCK_INT -->
                    <input type="text" placeholder="dd/mm/aaaa"></td>
                <!-- END BLOCK_INT -->
                <!-- BEGIN BLOCK_PUB -->
                <script>
                    document.write(dia + '/' + mes + '/' + ano)
                </script>
                <!-- END BLOCK_PUB -->
                <td>
                    <!-- BEGIN BLOCK_COMPRA_INT --> AQUISIÇÃO <input type="text" placeholder="COMÉRCIO/INDÚSTRIA">
                    <!-- END BLOCK_COMPRA_INT -->
                    <!-- BEGIN BLOCK_COMPRA_PUB -->
                    <input disabled style="border-color: transparent; color: black " type="text " value="AQUISIÇÃO "
                        size="10px ">
                    <select class="custom-select">
                        <option selected>TIPO DE COMPRA</option>
                        <option>COMÉRCIO</option>
                        <option>INDÚSTRIA</option>
                    </select>
                    <!-- END BLOCK_COMPRA_PUB -->
                    <!-- BEGIN BLOCK_PORTE --> {TIPO_PROCESSO}
                    <!-- END BLOCK_PORTE -->
                    <!-- BEGIN BLOCK_TRANSF_INT --> TRANFERÊNCIA <input type="text" id="tipo-int">
                    <!-- END BLOCK_TRANSF_INT -->
                    <!-- BEGIN BLOCK_TRANSF_PUB -->
                    <input disabled style="border-color: transparent; color: black " type="text " value="TRANSFERÊNCIA "
                        size="13px ">
                    <select class="custom-select" id="tipo-t" onblur="tipoTransf()">
                        <option selected>CLIQUE AQUI</option>
                        <option value="SIGMA">SIGMA/SIGMA</option>
                        <option value="SINARM">SINARM/SIGMA</option>
                        <option value="SIGMA">SIGMA/SINARM</option>
                    </select>
                    <!-- END BLOCK_TRANSF_PUB -->
                </td>
                <td style="border-width: 0 1px 1px 0;"><input type="text" disabled placeholder="FOTO 3x4" size="15">
                </td> {FOTO_CEDENTE}
            </tr>
            <!-- BEGIN BLOCK_TRANSF -->
            <tr style="border-width: 0">
                <td style="border-width: 0"></td>
                <td style="border-width: 0"></td>
                <td style="border-width: 0"></td>
                <td>CESSINÁRIO</td>
                <td>CEDENTE</td>
            </tr>
            <!-- END BLOCK_TRANSF -->
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<!-- BEGIN BLOCK_AUTORIZACAO -->
<div class="row justify-content-center">
    <strong>AUTORIZAÇÃO</strong> <input style="font-weight: bold;" type="text" size="8px" {DISABLE}>
</div>
<!-- END BLOCK_AUTORIZACAO -->
<!-- BEGIN BLOCK_DEMAIS -->
<div>
    <br>
    <br>
</div>
<!-- END BLOCK_DEMAIS -->
<br>
<div class="row justify-content-center">
    <h5>MOVIMENTO DO PROCESSO</h5>
</div>
<div class="row justify-content-center">
    <table class="table" border="1">
        <thead>
            <tr>
                <th scope="col">REMETENTE</th>
                <th scope="col">DESTINO</th>
                <th scope="col">DATA</th>
                <th scope="col">PROTOCOLO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <textarea cols="30" rows="3"
                        placeholder="GRAD/POSTO - RG - NOME COMPLETO - DO ADQUIRENTE"
                        onfocus="tipoTransfInt()"></textarea> {INPUT_COINT} </td>
                <td>SEÇÃO DE MATERIAL BÉLICO</td>
                <td>
                    <!-- BEGIN BLOCK_INT_2 -->
                    <input type="text" placeholder="dd/mm/aaaa"></td>
                <!-- END BLOCK_INT_2 -->
                <!-- BEGIN BLOCK_PUB_2 -->
                <script>
                    document.write(dia + '/' + mes + '/' + ano)
                </script>
                <!-- END BLOCK_PUB_2 -->
                </td>
                <td>TOMBADO</td>
            </tr>
            <tr>
                <td><input type="text" id="nome-digitador" onblur="digitador()" {DISABLE}></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
