<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<main>
    <div class="row justify-content-center">
        <h4>CERTIDÃO</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <p style="text-align: justify;padding-left: 80px;padding-right: 80px;font-size: 1.2em;"> Certifico que, de
            conformidade com a Lei Federal n° 10.826, de 22 de dezembro de 2003, regulamentada pelo Decreto Federal nº
            9.785/2019, e pela Portaria nº 069/2019 – GAB. CMD/PMPA, que o <textarea cols="65" rows="1"
                placeholder="GRAD/POSTO - RG - NOME COMPLETO DO ADQUIRENTE"></textarea>, e o <textarea cols="65" rows="1"
                placeholder="GRAD/POSTO - RG - NOME COMPLETO DO CEDENTE"></textarea>, atendem todas as orientações para
            transferência de uma arma de fogo, de uso Permitido, tipo: <input type="text" placeholder="TIPO DE ARMA">,
            <input type="text" placeholder="MARCA DA ARMA">, cal. <input type="text" placeholder="CALIBRE" size="4px">,
            Mod. <input type="text" placeholder="MODELO DA ARMA">, Nº de série <input type="text" size="10px"> e Nº do
            <span id="tipo-transf"></span> <input type="text" size="10px"> para fins de direito. </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align: right;font-size: 1.2em;">
        Belém-PA,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        de 20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-2">
            <img src="./assets/carimbo.png" alt="carimbo da pmpa" height="auto" style="max-width: 100%;">
        </div>
        <div class="col-8 align-items-center" style="text-align: center;font-size: 1.2em;">
            <p><strong>PAULO RENATO</strong> BORGES DA PAIXÃO – MAJ QOPM RG 31148 <br>
                <span style="text-align: center;">Chefe da Seção de Material Bélico</span></p>
        </div>
    </div>
