<br>
<br>
<br>
<br>
<main>
    <div class="row justify-content-center">
        <h4>CERTIDÃO</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <p style="text-align: justify;padding-left: 80px;padding-right: 80px;font-size: 1.2em;"> Certifico que, de
            conformidade com a Lei Federal n° 10.826, de 22 de dezembro de 2003, regulamentada pelo Decreto Federal n°
            nº 9.785/2019, e pela Portaria nº 069/2019 – GAB. CMD/PMPA, publicada no Aditamento ao Boletim Geral nº
            078/2019 – PMPA, que o <textarea cols="65" rows="1" id="dados-PM"
                placeholder="GRAD/POSTO - RG - NOME COMPLETO"></textarea>, atende todas as orientações para a
            <strong>{TIPO_PROCESSO}</strong> da referente arma: <input type="text"
                placeholder="TIPO DE ARMA" id="tipo">, <input type="text" placeholder="MARCA DA ARMA" id="marca">, cal.
            <input type="text" placeholder="CALIBRE" size="4px" id="calibre">, Mod. <input type="text"
                placeholder="MODELO DA ARMA" id="modelo">, Nº de série <input type="text" size="10px" id="serie"> e Nº
            do SIGMA <input type="text" size="10px" id="sigma" onblur="replicarDadosPorte()"> para fins de direito. </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align: right;font-size: 1.2em;">
        Belém-PA,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        de 20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-2">
            <img src="./assets/carimbo.png" alt="carimbo da pmpa" height="auto" style="max-width: 100%;">
        </div>
        <div class="col-auto align-items-center" style="text-align: center;font-size: 1.2em;">
            <p><strong>PAULO RENATO</strong> BORGES DA PAIXÃO – MAJ QOPM RG 31148 <br>
                <span style="text-align: center;">Chefe da Seção de Material Bélico</span></p>
        </div>
    </div>
</main>
<footer style="text-align: center;"> {FOOTER} </footer>
<header class="row justify-content-center" style="padding-top: 25px;"> {HEADER} </header>
<br>
<br>
<br>
<br>
<br>
<main>
    <div class="row justify-content-center">
        <h4>PROCESSO PARA {TIPO_PROCESSO} DE ARMA DE FOGO</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <p style="text-align: justify;padding-left: 80px;padding-right: 80px;font-size: 1.2em;">
            Nos termos do art. 4° da lei
            10.826/2003 c/c o art. 26 § 4° do decreto N° 9758/2019 e da portaria N° 069/2019 - GAB. CMD/PMPA, publicado
            no Boletim Geral N° 078/2019 - PMPA, <strong>AUTORIZO</strong> o policial militar da reserva remunerada
            <textarea cols="65" rows="1" id="dados-PM-cel" placeholder="GRAD/POSTO - RG - NOME COMPLETO"></textarea> a
            adquirir a <strong>{TIPO_PROCESSO}</strong> para a referente arma: <input type="text" placeholder="TIPO"
                id="tipo-cel">, <input type="text" placeholder="MARCA" id="marca-cel">, cal. <input type="text"
                placeholder="CALIBRE" size="4px" id="calibre-cel">, Mod. <input type="text" placeholder="MODELO"
                id="modelo-cel">, Nº de série <input type="text" size="10px" id="serie-cel" placeholder="XXX 123456...">
            e Nº de SIGMA <input type="text" size="10px" id="sigma-cel" placeholder="EX:12457859..."> para fins de
            direito. </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align: right;font-size: 1.2em;">
        Belém-PA,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        de 20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-2">
            <img src="./assets/carimbo.png" alt="carimbo da pmpa" height="auto" style="max-width: 100%;">
        </div>
        <div class="col-auto align-items-center" style="text-align: center;font-size: 1.2em;">
            <p><strong>SIDNEY PROFETA</strong> DA SILVA – CEL QOPM RG 21183 <br>
                <span style="text-align: center;">Diretor de Apoio Logístico</span></p>
        </div>
    </div>
</main>
