<hr>
<p>
    <strong> “Polícia Militar do Pará, Patrimônio do Povo Paraense”<br> Rodovia Augusto Montenegro, Km 09, nº8401,
                Parque Guajará, Distrito de Icoaraci, Belém-Pará/CEP 66.821-000<br> Site: <a
                        href="https://www.pm.pa.gov.br">www.pm.pa.gov.br</a>/ email: <a
                        href="mailto:pm.pa.dal4@gmail.com">pm.pa.dal4@gmail.com</a> – Digitador: <span
                        id="digitador-1"></span><br>
                <a style="font-size: .8em; color: black" href="https://github.com/Romulogss">Desenvolvido por: Rômulo Gabriel Sousa Sá</a>
        </strong>
</p>