<div class="col-2" style="text-align: right;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Bras%C3%A3o_do_Par%C3%A1.svg/1200px-Bras%C3%A3o_do_Par%C3%A1.svg.png" alt="BRASÃO DO ESTADO DO PARÁ" height="auto" style="max-width: 55%;">
</div>
<div class="col-8" style="text-align: center;">
    <p>
        <strong>
                        GOVERNO DO ESTADO DO PARÁ <br>
                        SECRETARIA DE ESTADO DE SEGURANÇA PÚBLICA E DEFESA SOCIAL <br>
                        POLÍCIA MÍLITAR DO ESTADO DO PARÁ <br>
                        DIRETORIA DE APOIO LOGÍSTICO <br>
                        SEÇÃO DE INTENDÊNCIA E SUBSISTÊNCIA
                    </strong>
    </p>
</div>
<div class="col-2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Bras%C3%A3o_PMPA.PNG" alt="BRASÃO DA POLÍCIA MÍLITAR" height="auto" style="max-width: 55%;">
</div>

<hr style="border-color: black; width: 100%;">